@model IEnumerable<FinalProject.Models.User>
@{
    ViewBag.Title = "Список пользователей";
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    
    
    <link rel="stylesheet" href="~/css/userList.css" />
</head>

<body>
    <h1 class="text-center">Все пользователи</h1>

    <a asp-action="Create" class="btn btn-info btn-sm" id="addButton">
        <span class="glyphicon glyphicon-plus"></span> Добавить пользователя
    </a>
    <br />
    <a asp-action="Index" asp-controller="Roles" class="btn btn-warning btn-sm" style="margin-bottom:25px;">
        <span class="glyphicon glyphicon-plus"></span> Роли
    </a>



    <table class="table table-striped table-bordered">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Год</th>
            <th>Действия</th>
        </tr>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
            <td>@user.Year</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                    <a class="btn btn-sm btn-info" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
        }
    </table>
    <script src="~/js//userList.js"></script>
</body>
</html>