@page
@model RegisterModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Register";
}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/registration.css" rel="stylesheet">

</head>
<body class="text-center">
    <main class="form-signin">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <h1 class="h3 mb-3 fw-normal">@Localizer["Reg"]</h1>

            <label asp-for="Input.Email" hidden>Email</label>
            <input type="text" asp-for="Input.Email" class="form-control" placeholder="Email" required="" autofocus="">

            <label asp-for="Input.FirstName" hidden>FirstName</label>
            <input type="text" asp-for="Input.FirstName" class="form-control" placeholder="@Localizer["Name"]" required="">

            <label asp-for="Input.SecondName" hidden>SecondName</label>
            <input type="text" asp-for="Input.SecondName" class="form-control" placeholder="@Localizer["Surname"]" required="">

            <label asp-for="Input.Year" hidden>Year</label>
            <input type="number" asp-for="Input.Year" class="form-control" placeholder="@Localizer["Year"]" required="">

            <label asp-for="Input.Password" hidden>Password</label>
            <input type="password" asp-for="Input.Password" class="form-control" placeholder="@Localizer["Password"]" required="">

            <label asp-for="Input.ConfirmPassword" hidden>PasswordConfirm</label>
            <input type="password" asp-for="Input.ConfirmPassword" class="form-control marg" placeholder="@Localizer["Confirm"]" required="">


            <button class="w-100 btn btn-lg btn-primary" type="submit">@Localizer["Button"]</button>

        </form>
    </main>

    <section>
        @if (!((Model.ExternalLogins?.Count ?? 0) == 0))
        {
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div>
                <p>
                    @foreach (var provider in Model.ExternalLogins)
                        {
                    @*<button type="submit" class="w-100 btn btn-lg btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>*@
                    @if (provider.Name == "Google")
                            {
                    <button class="loginBtn loginBtn--google" name="provider" value="@provider.Name">
                        Sign up with @provider.DisplayName
                    </button>
                            }
                    @if (provider.Name == "Facebook")
                            {
                    <button type="submit" class="loginBtn loginBtn--facebook" name="provider" value="@provider.Name">
                        Sign up with @provider.DisplayName
                    </button>
                            }

                        }
                </p>
            </div>

        </form>
        }
    </section>

</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</html>






























@*<div class="col-md-6 col-md-offset-2">
        <section>

            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@