@model FinalProject.Models.Item
@{
    ViewBag.Title = "Добавление элемента";
    
}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <script src="https://unpkg.com/@@yaireo/tagify"></script>
    <script src="https://unpkg.com/@@yaireo/tagify@3.1.0/dist/tagify.polyfills.min.js"></script>
    <link href="https://unpkg.com/@@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/7e38d4cf32.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/open.css" />
</head>
<body>
    <h1 class="text-center">@Model.Name</h1>


    <div class="container" id="like">
        @if (ViewBag.isLike == false)
        {
        <a href="~/Item/Like?id=@ViewBag.Id" id="btn" onclick="Toogle()" class="far fa-heart"></a>
        }
        @if (ViewBag.isLike == true)
        {
        <a href="~/Item/Like?id=@ViewBag.Id" id="btn" onclick="Toogle()" class="fas fa-heart"></a>
        }



    </div>


    <h3>Теги текущего элемента:</h3>
    @foreach (var t in ViewBag.TagForOpen)
    {
    <tag title="@t.TagName" contenteditable="false" spellcheck="false" tabindex="-1" class="tagify__tag " __isvalid="true" value="@t.TagName">

        <div><span class="tagify__tag-text">@t.TagName</span></div>
    </tag>
    }
    <span contenteditable="" data-placeholder="​" aria-placeholder="" class="tagify__input" role="textbox" aria-autocomplete="both" aria-multiline="false"></span>
    <br />

    <hr />
    <div class="custom-container" style="width:80%;">
        <h2 class="text-center">Описание элемента:</h2>
        <span id="desc" style="margin-left:25px;">@ViewBag.Desc</span>
    </div>
    <hr />

    <div class="custom-container" style="width:80%;">
        <h2 class="text-center">Дополнительные поля элемента:</h2>
        @if(ViewBag.FInt1_Name != null)
            {
        <b>@ViewBag.FInt1_Name:</b>
        @ViewBag.FInt1
        <br />
            }
        @if(ViewBag.FInt2_Name != null)
            {
        <b>@ViewBag.FInt2_Name: </b>
        @ViewBag.FInt2
        <br />
            }
        @if(ViewBag.FInt3_Name != null)
            {
        <b>@ViewBag.FInt3_Name: </b>
        @ViewBag.FInt3
        <br />
            }

        @if(ViewBag.FStr1_Name != null)
            {
        <b>@ViewBag.FStr1_Name: </b>
        @ViewBag.FStr1
        <br />
            }
        @if(ViewBag.FStr2_Name != null)
            {
        <b>@ViewBag.FStr2_Name: </b>
        @ViewBag.FStr2
        <br />
            }
        @if(ViewBag.FStr3_Name != null)
            {
        <b>@ViewBag.FStr3_Name: </b>
        @ViewBag.FStr3
        <br />
            }



        @if(ViewBag.FText1_Name != null)
            {
        <b>@ViewBag.FText1_Name: </b>
        @ViewBag.FText1
        <br />
            }
        @if(ViewBag.FText2_Name != null)
            {
        <b>@ViewBag.FText2_Name: </b>
        @ViewBag.FText2
        <br />
            }
        @if(ViewBag.FText3_Name != null)
            {
        <b>@ViewBag.FText3_Name: </b>
        @ViewBag.FText3
        <br />
            }


        @if(ViewBag.FDate1_Name != null)
            {
        <b>@ViewBag.FDate1_Name: </b>
        @ViewBag.FDate1
        <br />
            }
        @if(ViewBag.FDate2_Name != null)
            {
        <b>@ViewBag.FDate2_Name: </b>
        @ViewBag.FDate2
        <br />
            }
        @if(ViewBag.FDate3_Name != null)
            {
        <b>@ViewBag.FDate3_Name: </b>
        @ViewBag.FDate3
        <br />
            }




        @if(ViewBag.FChBox1_Name != null)
            {
        <b>@ViewBag.FChBox1_Name: </b>
        @ViewBag.FChBox1
        <br />
            }
        @if(ViewBag.FChBox2_Name != null)
            {
        <b>@ViewBag.FChBox2_Name: </b>
        @ViewBag.FChBox2
        <br />
            }
        @if(ViewBag.FChBox3_Name != null)
            {
        <b>@ViewBag.FChBox3_Name: </b>
        @ViewBag.FChBox3
        <br />
            }
    </div>

    <hr />
  
    <div class="custom-container text-center" style="padding-bottom: 50px;">
        <h4 class="custom-text text-center">Комментарии пользователей</h4>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Nick</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="nick" />
        </div>

        <div class="input-group input-group-sm mb-3" style="margin-top:10px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Comment</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="message" />
        </div>
        <br />

        <input type="submit" id="sendBtn" value="Отправить" class="btn btn-info" style="margin-bottom:25px;" />
        <br />
        <span class="text-center" style="font-size:20px;font-weight:bold;">Старые комментарии</span>
        <div class="old-comment text-left" id="chatroom">

        </div>
    </div>
    
    @*<div id="oldcommets"></div>*@
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/open.js"></script>
</body>
</html>